extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Collab'
	title= title
block pagecontent

	.page
		.main
			.header.js-header#header
				.header__center.center
					button.header__burger.js-header-burger
						span
					a.header__logo(href="#")
						//- img.header__pic(src="img-2/logo-new-magnetx.svg" alt="")
						img.entry__pic.entry__pic_white(src="img-2/logo-new-magnetx.svg" alt="")
						img.entry__pic.entry__pic_black(src="img-2/logo-dark-new-magnetX.svg" alt="")
					.header__wrap.js-header-wrap
						nav.header__nav
							a.header__item.scroll-link(href="#features") Возможности
							a.header__item.scroll-link(href="#layouts") Выгоды
							a.header__item.scroll-link(href="#quality") Как работает
							a.header__item.scroll-link(href="#teams") Отзывы
							a.header__item.scroll-link(href="#plan") Тарифы
							//- .header__item.js-header-item
								a.header__head.js-header-head(href="#") Explore
									+i('arrow-down')
								.header__body.js-header-body
									.header__center.center
										.header__row
											.header__col
												.header__category Features
												.header__menu
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/cup.png" alt="")
														.header__deetails
															.header__info Collab Assistant
															.header__text Smart automation system
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/camera.png" alt="")
														.header__deetails
															.header__info Advanced Importer
															.header__text Work with various media formats
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/calendar.png" alt="")
														.header__deetails
															.header__info Product Management
															.header__text Workspace reimagined
											.header__col
												.header__category Features
												.header__menu
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/chatbox.png" alt="")
														.header__deetails
															.header__info Support
															.header__text 24/7 Live Support
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/fill.png" alt="")
														.header__deetails
															.header__info Color Picker
															.header__text Advanced color picker
											.header__col
												.header__category Company
												.header__menu
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/clock.png" alt="")
														.header__deetails
															.header__info Collab Team
															.header__text See who’s behind the magic
													a.header__box(href="#")
														.header__preview
															img.header__pic(src="img-2/bell-flat.png" alt="")
														.header__deetails
															.header__info Collab Design
															.header__text What we’re working on
						.header__photo
							img.header__pic(src="img-2/menu-pic-new.png" alt="")
					//- .header__search.js-header-search
					//- 	button.header__open.js-header-open
					//- 		+i('search')
					//- 	.header__field
					//- 		input.header__input(type="text" placeholder="Search ...")
					a.header__btn.btn.btn_pink(href="login.html") Вход
				.header__bg.js-header-bg
			.main__center.center
				.main__wrap
					h1.main__title.title.title_big(data-aos)
						span.title__box
							span.title__text <span class="title__line">Увеличьте ваши продажи на <span class="title__color">WILDBERRIES</span> в 5 раз!</span>
					.main__info.info(data-aos="animation-scale-y" data-aos-delay="400") Онлайн-платформа проанализирует механизм ваших продаж на&nbsp;Wildberries, составит новую стратегию, и&nbsp;вы&nbsp;уже сможете увеличить прибыль в&nbsp;разы всего за&nbsp;пару месяцев.
					.main__control(data-aos="animation-scale-y" data-aos-delay="550")
						a.main__btn.btn.btn_purple(href="login.html") Оставить заявку
						a.main__link(href="#")
							.main__icon
								img.main__pic(src="img-2/play.svg" alt="")
							.main__text Посмотреть видео
					.main__scroll(data-aos="animation-scale-y" data-aos-delay="650")
						a.main__link.scroll-link(href="#features")
							.main__icon
								img.main__pic(src="img-2/scroll.svg" alt="")
							.main__text Пролистайте вниз 
				.main__view(data-aos)
					.main__preview
						img.main__pic.js-parallax(data-scale="1.5" data-orientation="down" src="img-2/main-pic-1-new.png" alt="")
					.main__preview
						img.main__pic.js-parallax(data-scale="1.5" data-orientation="up" src="img-2/main-pic-2.png" alt="")
					.main__preview
						img.main__pic(src="img-2/mouse.png" alt="")
					.main__preview
						img.main__pic(src="img-2/main-pic-3-new.png" alt="")
				.main__circles
					.main__circle
					.main__circle.js-rellax(data-rellax-speed="2")
					.main__circle.js-rellax(data-rellax-speed="1")
					.main__circle.js-rellax(data-rellax-speed="2")
					.main__circle.js-rellax(data-rellax-speed=".3")
					.main__circle
					.main__circle.js-rellax(data-rellax-speed="1")
		.features.js-features#features
			.features__center.center
				.features__head(data-aos="animation-scale-y")
					.features__stage.stage Возможности
					.features__box
						h2.features__title.title Наша аналитика заставит ваш магазин работать эффективно
						.features__info.info Найдите хиты продаж, избавьтесь от&nbsp;слабых товаров и&nbsp;эффективно управляйте ассортиментом с&nbsp;помощью автоматизации и&nbsp;аналитики

				.features__body
					.features__container
						.features__slider.js-features-slider
							.features__slide(data-aos="animation-scale-y")
								.features__details
									.features__preview
										img.features__pic(src="img-2/features-slide-1.png" alt="")
									.features__category Повысьте маржинальность
									.features__text Оптимизация затрат на хранение, логистику и уменьшение оборотного капитала дает заработать больше с каждого вложенного рубля
									//- a.features__link(href="#") Find out more
							.features__slide(data-aos="animation-scale-y" data-aos-delay="200")
								.features__details
									.features__preview
										img.features__pic(src="img-2/features-slide-2.png" alt="")
									.features__category Получите управляемость
									.features__text Набор отчетов покажет: сколько, когда и куда везти; на чем вы зарабатываете, а на чем теряете, и что с этим делать
									//- a.features__link(href="#") Find out more
							.features__slide
								.features__details
									.features__preview
										img.features__pic(src="img-2/features-slide-3.png" alt="")
									.features__category Наличии товара
									.features__text Просмотр изменения товарных остатков конкурентов
									//- a.features__link(href="#") Find out more
							.features__slide
								.features__details
									.features__preview
										img.features__pic(src="img-2/features-slide-4.png" alt="")
									.features__category ТОП артикулы по продажам
									.features__text Возможность посмотреть ТОП артикулов конкурентов с динамикой продаж
									//- a.features__link(href="#") Find out more
							.features__slide
								.features__details
									.features__preview
										img.features__pic(src="img-2/features-slide-5.png" alt="")
									.features__category Выявление новых товаров
									.features__text Автоматическое выявление новой номенклатуры брендов, которые мониторятся. 
									//- a.features__link(href="#") Find out more
					.features__status.js-features-status
			.features__circle.js-rellax(data-rellax-speed="-.7")
			.features__bg(data-aos data-aos-duration="1000")
				img.features__pic(src="img-2/features-pic-1.svg" alt="")
		.design
			.design__center.center
				.design__wrap(data-aos="animation-translate-y")
					.design__stage.stage Возможности
					h2.design__title.title Решаемые задачи для вашего бизнеса
					.design__info.info Наш аналитический инструмент MagnetX поможет стабильно расти. Мы сами используем MagnetX и сделали его изначально для себя и знакомых.
				.design__hand(data-aos data-aos-duration="600")
					img.design__pic(src="img-2/hand-4-new.png" alt="")
				.design__bg(data-aos data-aos-delay="400")
					img.design__pic(src="img-2/design-pic-new.png" alt="")
				.design__circles
					.design__circle.js-rellax(data-rellax-speed="1")
					.design__circle
					.design__circle.js-rellax(data-rellax-speed=".5")
				.design__body
					a.design__scroll.scroll-link(href="#plan")
						.design__icon
							img.design__pic(src="img-2/scroll.svg" alt="")
						.design__text Используйте MagnetX
					.design__container
						.design__slider.js-design-slider
							mixin designSlide(src, category, info, text, delay)
								.design__slide(data-aos="animation-translate-y" data-aos-delay=delay)
									.design__view
										.design__preview
											img.design__pic(src=src alt="")
									.design__details
										//- .design__category=category
										.design__info=info
										.design__text=text
										a.design__link(href="login.html") Попробовать
											+i('arrow-right')
							+designSlide('img-2/design-pic-1-new.png', 'Design', 'Сводка', 'В постоянно обновляющей сводке заказов, вы наглядно увидите самые продающиеся позиции', '0')
							+designSlide('img-2/design-pic-2-new.png', 'Build', 'Прибыльность', 'Отчёт прибыльности позволит выяснить какие товары приносят максимальную прибыль, а из-за каких вы несете постоянные убытки ', '200')
							+designSlide('img-2/design-pic-3-new.png', 'Ship', 'Допоставки', 'Самый значимый отчет, позволяющий увеличить прибыль. Система покажет, какие товары и в каком количество нужно поставлять на склады.', '400')
							+designSlide('img-2/design-pic-1-new.png', 'Design', 'Скидки', 'С помощью простой таблицы вы можете указать скидку и промокод на каждый товар, а мы рассчитаем вашу прибыль, логистику и комиссию с каждого заказа.')
							+designSlide('img-2/design-pic-2-new.png', 'Build', 'АВС АНАЛИЗ', 'АBС анализ поможет составить отчёт и определить 20% товаров, которые приносят 80% выручки. Тем самым, можно сосредоточить внимание на этих позициях и увеличить продажи топовых товаров в разы.')
		.layouts#layouts
			.layouts__center.center
				.layouts__wrap
					.layouts__head(data-aos="animation-scale-y")
						.layouts__stage.stage Выгоды
						h2.layouts__title.title Аналитика продаж - ваше оружие
					.layouts__info.info(data-aos="animation-scale-y") Наши клиенты увеличивают свои продажи на Wildberries от 30% в месяц
					.layouts__list
						.layouts__item(data-aos="animation-scale-y")
							.layouts__icon
								img.layouts__pic(src="img-2/layout-1-new.svg" alt="")
							.layouts__text Отчёты помогут выявить товары, нуждающиеся в оптимизации – делайте скидки, устраивайте распродажи, снимайте неликвидные позиции.
						.layouts__item(data-aos="animation-scale-y")
							.layouts__icon
								img.layouts__pic(src="img-2/layout-2-new.svg" alt="")
							.layouts__text Вы можете проанализировать продукт по рейтингу и рентабельности, а также оценить его финансовые показатели.
						.layouts__item(data-aos="animation-scale-y")
							.layouts__icon
								img.layouts__pic(src="img-2/layout-3-new.svg" alt="")
							.layouts__text Теперь можно освободить время для значимых задач необходимых для бизнеса с помощью нас это можно сделать за 5 минут.

				.layouts__view(data-aos)
					.layouts__preview
						img.layouts__pic(src="img-2/layouts-pic-1-new.png" alt="")
					.layouts__preview
						img.layouts__pic(src="img-2/layouts-pic-2-new.png" alt="")
					.layouts__preview
						img.layouts__pic(src="img-2/layouts-pic-3.png" alt="")
					.layouts__preview
						img.layouts__pic(src="img-2/layouts-pic-4-new.png" alt="")
					.layouts__preview
						img.layouts__pic(src="img-2/layouts-pic-5-new.png" alt="")
		.quality#quality
			.quality__head
				.quality__center.center
					.quality__top(data-aos="animation-scale-y")
						.quality__stage.stage Как работает
						h2.quality__title.title Настройка – 5 минут, без разработчика
					.quality__info.info(data-aos="animation-scale-y" data-aos-delay="200") Увеличьте свои продажи на Wildberries
				.quality__line
					img.quality__pic(src="img-2/line-3-new.svg" alt="")
				.quality__preview
					img.quality__pic.js-parallax(data-scale="1.2" data-orientation="left" src="img-2/lamp-new.png" alt="")
			.quality__body
				.quality__col
					.quality__item(data-aos="animation-scale-x-left")
						.quality__icon
							img.quality__pic(src="img-2/camera-big-new.png" alt="")
						.quality__details
							.quality__category Подключение
							.quality__text Подключите по API #[strong без доступа в личный кабинет.] Не нужно загружать отчеты, давать доступ к кабинету
							//- a.quality__link(href="#") Learn more
							//- 	+i('arrow-right')
				.quality__col
					.quality__item(data-aos="animation-scale-x-right" data-aos-delay="200")
						.quality__icon
							img.quality__pic(src="img-2/clock-big-new.png" alt="")
						.quality__details
							.quality__category Безопасность
							.quality__text Все данные поступают напрямую по API и хранятся #[strong в зашифрованом виде] и видны только вам
							//- a.quality__link(href="#") Learn more
							//- 	+i('arrow-right')
				.quality__col
					.quality__item(data-aos="animation-scale-x-left")
						.quality__icon
							img.quality__pic(src="img-2/popups.png" alt="")
						.quality__details
							.quality__category Анализ
							.quality__text Анализируйте данные #[strong с минимальной задержкой] и принимайте взвешенные решения на основе данных
							//- a.quality__link(href="#") Learn more
							//- 	+i('arrow-right')
				.quality__col
					.quality__item(data-aos="animation-scale-x-right" data-aos-delay="200")
						.quality__icon
							img.quality__pic(src="img-2/chatbox-big-new.png" alt="")
						.quality__details
							.quality__category Результат
							.quality__text Более 70 брендов работают через наш сервис и #[strong смогли увеличить свои продажи] в разы
							//- a.quality__link(href="#") Learn more
								+i('arrow-right')
			.quality__circles
				.quality__circle 
				.quality__circle 
		.work
			.work__center.center
				.work__head
					.work__stage.stage Демо
					h2.work__title.title <span class="title__color">Попробуйте сервис </span> в деле
				.work__details(data-aos="animation-translate-y" data-aos-duration="800")
					//- .work__icon
						img.work__pic(src="img-2/balls.svg" alt="")
					.work__text Начните получать оперативную, полную и достоверную информацию 
					a.work__link(href="#") Оставить заявку
			.work__hands
				.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
					img.work__pic.js-parallax(data-scale="1.2" data-orientation="down" src="img-2/hand-2.png" alt="")
				.work__hand(data-aos data-aos-duration="800" data-aos-offset="0")
					img.work__pic.js-parallax(data-scale="1.3" data-orientation="up" src="img-2/hand-3.png" alt="")
			.work__wave
				img.work__pic(src="img-2/wave.svg" alt="")
			//- .work__preview(data-aos data-aos-duration="600")
			//- 	img.work__pic(src="img-2/work-pic.png" alt="")
			.work__circles
				.work__circle.js-rellax(data-rellax-speed="1")
				.work__circle
				.work__circle.js-rellax(data-rellax-speed="-1")
				.work__circle
				//- .work__circle
			.work__cursor(data-aos)
				img.work__pic(src="img-2/cursor.png" alt="")
		.plan.js-plan#plan
			.plan__center.center
				.plan__head(data-aos="animation-scale-y")
					.plan__stage.stage Начните увеличивать продажи
					h2.plan__title.title Подберите <span class="title__color">свой</span> тариф.
					.plan__info.info Доступные тарифные планы
					//- label.switch
						input.switch__input(type="checkbox" checked)
						span.switch__flex
							span.switch__yearly Годовая подписка
							span.switch__box
							span.switch__monthly Ежемесячная
					.plan__variants
						select.plan__select.js-plan-select
							option Базовый
							option Бизнес
							option Ультима
				.plan__body
					.plan__item.js-plan-item(data-aos="animation-translate-y")
						//- .plan__star
						//- 	+i('star')
						//- .plan__category
							.plan__icon
								img.plan__pic(src="img-2/smile-1.svg" alt="")
							.plan__text Individual
						h3.plan__title.title.title_sm Базовый
						.plan__price <span class="plan__money">₽4990</span> /месяц
						ul.plan__list
							li Аналитика заказов, продаж и чистой прибыли
							li Планирование поставок на основные и региональные склады.
							li Расчет % выкупа и стоимости логистики по товару/размеру
							li Расчет чистой прибыли и маржинальности по товару
							li и другие инструменты
						a.plan__btn.btn.btn_purple.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Попробовать
					.plan__item.js-plan-item.active(data-aos="animation-translate-y" data-aos-delay="200")
						.plan__star
							+i('star')
						//- .plan__category
							.plan__icon
								img.plan__pic(src="img-2/smile-2.svg" alt="")
							.plan__text Small Team
						h3.plan__title.title.title_sm Бизнес
						.plan__price <span class="plan__money">₽14990</span> /месяц
						ul.plan__list
							li Аналитика заказов, продаж и чистой прибыли
							li Планирование поставок на основные и региональные склады.
							li Расчет % выкупа и стоимости логистики по товару/размеру
							li Расчет чистой прибыли и маржинальности по товару
							li и другие инструменты
						a.plan__btn.btn.btn_pink.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Попробовать
					.plan__item.js-plan-item(data-aos="animation-translate-y" data-aos-delay="400")
						//- .plan__category
							.plan__icon
								img.plan__pic(src="img-2/smile-2.svg" alt="")
							.plan__text Large Team
						h3.plan__title.title.title_sm Ультима
						.plan__price <span class="plan__money">₽29990</span> /месяц
						ul.plan__list
							li Аналитика заказов, продаж и чистой прибыли
							li Планирование поставок на основные и региональные склады.
							li Расчет % выкупа и стоимости логистики по товару/размеру
							li Расчет чистой прибыли и маржинальности по товару
							li и другие инструменты
						a.plan__btn.btn.btn_purple.js-popup-open(href="#popup-contact" data-effect="mfp-zoom-in") Попробовать
			.plan__circle.js-rellax(data-rellax-speed="-1")
		.teams#teams
			.teams__center.center
				.teams__head(data-aos="animation-scale-y")
					.teams__stage.stage Отзывы
					h2.teams__title.title Успешные продавцы регулярно отслеживают метрики по своим товарам для роста продаж
				.teams__body
					.teams__col(data-aos="animation-scale-y")
						h3.teams__title.title.title_sm Что профессионалы думают о MagnetX?
					.teams__col
						.teams__container
							.teams__slider.js-teams-slider
								.teams__slide(data-aos="animation-scale-y" data-aos-delay="200")
									.teams__line(style="background-color: #004AFF;")
									.teams__name(style="color: #004AFF;") ООО “Сурра”
									.teams__text &quot; Выписывать цены конкурентов вручную по&nbsp;каждой позиции, когда у&nbsp;вас сотни товаров&nbsp;&mdash; просто нереально. MagnetX экономит кучу времени &quot;
									.teams__user
										.teams__ava
											img.teams__pic(src="img-2/valera.svg" alt="")
										.teams__box
											.teams__man Валера
											.teams__login Учредитель
								.teams__slide(data-aos="animation-scale-y" data-aos-delay="400")
									.teams__line(style="background-color: #96DDFF")
									.teams__name(style="color: #96DDFF") Vata Home
									.teams__text &quot; Выписывать цены конкурентов вручную по&nbsp;каждой позиции, когда у&nbsp;вас сотни товаров&nbsp;&mdash; просто нереально. MagnetX экономит кучу времени &quot;
									.teams__user
										.teams__ava
											img.teams__pic(src="img-2/valera.svg" alt="")
										.teams__box
											.teams__man Ника 
											.teams__login Учредитель
								.teams__slide
									.teams__line(style="background-color: #96DDFF;")
									.teams__name(style="color: #96DDFF;") Cossagach
									.teams__text &quot; Выписывать цены конкурентов вручную по&nbsp;каждой позиции, когда у&nbsp;вас сотни товаров&nbsp;&mdash; просто нереально. MagnetX экономит кучу времени &quot;
									.teams__user
										.teams__ava
											img.teams__pic(src="img-2/valera.svg" alt="")
										.teams__box
											.teams__man Юлия
											.teams__login Учредитель
								.teams__slide
									.teams__line(style="background-color: #004AFF;")
									.teams__name(style="color: #004AFF;") Bento
									.teams__text &quot; Выписывать цены конкурентов вручную по&nbsp;каждой позиции, когда у&nbsp;вас сотни товаров&nbsp;&mdash; просто нереально. MagnetX экономит кучу времени &quot;
									.teams__user
										.teams__ava
											img.teams__pic(src="img-2/valera.svg" alt="")
										.teams__box
											.teams__man Александр
											.teams__login Директор по маркетингу
			.teams__circle.js-rellax(data-rellax-speed="1")
		.showcase
			.showcase__center.center
				.showcase__wrap
					.showcase__top(data-aos="animation-scale-y")
						.showcase__stage.stage Демо
						h2.showcase__title.title <span class="title__color">Попробуйте MagnetX в деле.</span>
					.showcase__info.info(data-aos="animation-scale-y" data-aos-delay="150") Каждую минуту вы недополучаете прибыль
					.showcase__btn(data-aos="animation-scale-y" data-aos-delay="300")
						button.btn.btn_purple Оставить заявку
			.showcase__bg
				img.showcase__pic(src="img-2/showcase-circle-new.svg" alt="")
			.showcase__circles
				.showcase__circle
				.showcase__circle
			.showcase__list
				.showcase__preview
					img.showcase__pic.js-parallax(data-scale="2.5" data-orientation="right" src="img-2/group-1-new.png" alt="")
				.showcase__preview
					img.showcase__pic.js-parallax(data-scale="2.5" data-orientation="left" src="img-2/group-2-new.png" alt="")
		.footer.js-footer#footer
			.footer__center.center
				.footer__row
					.footer__col
						a.footer__logo(href="#")
							img.footer__pic(src="img-2/logo-dark-new-magnetX.svg" alt="")
					.footer__col
						.footer__menu
							a.footer__link.scroll-link(href="#features") Возможности
					.footer__col
						.footer__menu
							a.footer__link.scroll-link(href="#layouts") Выгоды
					.footer__col
						.footer__menu
							a.footer__link.scroll-link(href="#quality") Как работает
					.footer__col
						.footer__menu
							a.footer__link.scroll-link(href="#teams") Отзывы
					.footer__col
						.footer__menu
							a.footer__link.scroll-link(href="#plan") Тарифы
				.footer__bottom
					a.footer__company(href="https://ui8.net/" target="_blank")
						img.footer__pic(src="img-2/valera.svg" alt="")
					.footer__copyright © 2020, ООО “Магнетикс”
					a.footer__scroll.js-link-scroll(href="#header")
						.footer__icon
							img.footer__pic(src="img-2/scroll.svg" alt="")
						.footer__text В начало страницы
	.popup.mfp-hide#popup-contact
		.popup__wrap
			.popup__head
				a.popup__logo(href="#")
					img.popup__pic(src="img-2/logo-new-magnetx.svg" alt="")
			.popup__body
				.popup__title.title Get in touch<span class="title__color">.</span>
				.popup__info Enter your detail below
				form.popup__form
					.popup__field.field
						.field__label Name
						.field__wrap
							.field__icon
								img.field__pic(src="img-2/user.svg" alt="")
							input.field__input(type="text" name="name" placeholder="Name")
					.popup__field.field
						.field__label Email
						.field__wrap
							.field__icon
								img.field__pic(src="img-2/sending-mail.svg" alt="")
							input.field__input(type="email" name="email" placeholder="Email address")
					.popup__field.field.field_textarea
						.field__label Message
						.field__wrap
							.field__icon
								img.field__pic(src="img-2/message.svg" alt="")
							textarea.field__textarea(name="Message" placeholder="Message")
					button.popup__btn.btn.btn_purple(type="submit") Send now
				.popup__circles
					.popup__circle
					.popup__circle
			.popup__bg
				.popup__preview
					img.popup__pic(src="img-2/popup-pic-1.png" alt="")
				.popup__preview
					img.popup__pic(src="img-2/cursor-1.png" alt="")


	